.container-wrapper {
    background: #fff;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252525;
    background-size: cover;
    padding: 0 10px;
}
.header-container h1 {
    background-image: linear-gradient(to Left, #333333, #8c8c8c, #333333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.indiv-name {
    font-size: x-large;
}

.nav-bar {
    justify-content: space-between;
}

a {
    margin: 100px;
    text-decoration: none;
    background-image: linear-gradient(to Left, #7e7e7e, #b8b5b5, #7e7e7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color .3s ease;
}

a:hover {
    color: rgb(87, 87, 87);
    top: 10px;
}


