.resume-wrapper {
    position: relative;
    padding: 20px;
    /* background-image: url('../assets/img/bg.jpg'); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.resume-container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 800px;
    max-width: 100%;
    box-sizing: border-box;
}

.content-body {
    display: flex;
    flex-direction: column;
}


.profile-pic {
    border-radius: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    vertical-align: top;
    padding: 10px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.break {
    margin-top: 20px;
}

.export-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.export-button:hover {
    background-color: darkgray;
}

